# XGBoost 测试 for Rent Listing Inqueries 

Rental Listing Inquiries数据集是Kaggle平台上的一个分类竞赛任务，需要根据公寓的特征来预测其受欢迎程度（用户感兴趣程度分为高、中、低三类）。其中房屋的特征x共有14维，响应值y为用户对该公寓的感兴趣程度。评价标准为logloss。
数据链接：https://www.kaggle.com/c/two-sigma-connect-rental-listing-inquiries

###### 7. 利用训练好的模型，在测试集上进行测试

首先 import 必要的模块

In [1]:
from xgboost import XGBClassifier

import pandas as pd 
import numpy as np

## 读取数据

In [2]:
# path to where the data lies
#dpath = './data/'
test = pd.read_csv("RentListingInquries_FE_test.csv")
test.head()

,listing_id,bathrooms,bedrooms,latitude,longitude,price,price_bathrooms,price_bedrooms,room_diff,room_num,...,virtual,walk,walls,war,washer,water,wheelchair,wifi,windows,work
0,7142618,1.0,1,40.7185,-73.9865,2950,1475.000000,1475.000000,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
1,7210040,1.0,2,40.7278,-74.0000,2850,1425.000000,950.000000,-1.0,3.0,...,0,0,0,1,0,0,0,0,0,0
2,7103890,1.0,1,40.7306,-73.9890,3758,1879.000000,1879.000000,0.0,2.0,...,0,0,0,0,0,0,0,0,0,0
3,7143442,1.0,2,40.7109,-73.9571,3300,1650.000000,1100.000000,-1.0,3.0,...,0,0,0,0,0,0,1,0,0,0
4,6860601,2.0,2,40.7650,-73.9845,4900,1633.333333,1633.333333,0.0,4.0,...,0,0,0,1,0,0,0,0,0,0

## 准备数据

In [3]:
test_id = test['listing_id']

X_test = test.drop([ "listing_id"], axis=1)

## load 训练好的模型

In [4]:
#保存数据
import cPickle

xgb = cPickle.load(open("xgb_model.pkl", 'rb'))

## 在测试上测试，并生成测试结果提交文件

In [6]:
y_test_pred = xgb.predict_proba(X_test)

out_df1 = pd.DataFrame(y_test_pred)
out_df1.columns = ["high", "medium", "low"]

out_df = pd.concat([test_id,out_df1], axis = 1)
out_df.to_csv("xgb_Rent.csv", index=False)